<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="navbar">
        <a href="/">HOME</a>
        <a href="/register">REGISTER</a>
        <a href="/login">LOGIN</a>
    </div>
    <form action="/login" method="post">
        {% csrf_token %}
        <input type="email" name="email" id="email" placeholder="Enter your Email id"><br>
        <input type="text" name="username" id="username" placeholder="Enter your username"><br>
        <input type="password" name="password" id="password" placeholder="Enter your password"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>